##############################
## Folders                  ##
##############################
node_modules
.idea

##############################
## Files                    ##
##############################
PocketPet.zip
 
##############################
## Netbeans conf            ##
##############################
#nb-configuration.xml
#nbactions.xml
/public/pokemon
